body{
    background-color: #9C27B0;
    font-family: 'Kalam', cursive;
}

.text-holder{
    display: flex;
    justify-content: center;
    color: white;
}

.holder{
    display: flex;
    justify-content: center;
}

#prrr{
    width: fit-content;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #448AFF;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 7px;
    font-size: 17px;
    width: 50%;
}

.btn-holder{
    display: flex;
    justify-content: center;
}

#cat-container{
    border: 20px solid white;
}